.env
.vscode

data/GAN/MNIST/raw/*
!data/GAN/MNIST/raw/.gitkeep

experiments/trained_models/GAN/*
!experiments/trained_models/GAN/.gitkeep

experiments/results/GAN/generated_images/*
!experiments/results/GAN/generated_images/.gitkeep

